<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">2</span> Set authorisation type</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <form [formGroup]="form">
                <div class="col-md-12" [class.has-error]="!form.controls['authType'].valid">
                    <h4 class="padding-btn-30">What type of authorisation do you want this representative to have?</h4>

                    <h4>Authorisation type*</h4>
                    <select class="form-control" [formControl]="form.controls['authType']" #t (change)="onAuthTypeChange(t.value)">
                        <option value="-" disabled>Please Choose...</option>
                        <option *ngFor="let item of options" value={{item.value.code}}>{{item.value.shortDecodeText}}</option>
                    </select>
                    <br/>
                    <div *ngIf="selectedAuthType">
                        <h4>Additional notes</h4>
                        <p><strong>{{selectedAuthType.value.shortDecodeText}}</strong></p>
                        <p>{{selectedAuthType.value.longDecodeText}}</p>
                        <br/>
                    </div>

                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>