<page-header [identity]="identity"
             tab="MANAGE_ROLES"
             [messages]="globalMessages"
             [giveAuthorisationsEnabled]="giveAuthorisationsEnabled"></page-header>

<form [formGroup]="form">

    <div class="panel panel-default" *ngIf="!role" >
        <div class="panel-heading">
            <h4>Select a role</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Role type*</h4>
                    <select class="form-control" [formControl]="form.controls['roleType']" #t (change)="onRoleTypeChange(t.value)">
                        <option value="-" disabled hidden>Please Choose...</option>
                        <option *ngFor="let roleTypeRef of roleTypeRefs" value={{roleTypeRef.value.code}}>{{roleTypeRef.value.shortDecodeText}}</option>
                    </select>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="role">
        <div class="panel-heading">
            <h4>Role Type</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    {{ role.roleType?.value?.shortDecodeText }}
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="form.controls['roleType'].value !== '-'">
        <div class="panel-heading">
            <h4>Online software provider agencies services</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Access to government agencies services</h4>
                    <div class="checkbox" *ngFor="let attributeUsage of agencyServiceRoleAttributeNameUsages">
                        <label>
                            <input type="checkbox" [checked]="isAgencyServiceSelected(attributeUsage.attributeNameDef.value.code)" (change)="onAgencyServiceChange(attributeUsage.attributeNameDef.value.code)"> {{attributeUsage.attributeNameDef.value.shortDecodeText}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="form.controls['roleType'].value !== '-'">
        <div class="panel-heading">
            <h4>Online software provider preferences</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Preferred Name</h4>
                    <input type="text" class="form-control" placeholder="" [formControl]="form.controls['preferredName']"/>
                    <br/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Assign credentials for software provider services</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th><h4>Credential</h4></th>
                                <th class="col-md-2"><h4><input type="checkbox"></h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <div class="checkbox" *ngFor="let auskeyRef of (deviceAusKeyRefs$|async)?.list">
                                    <label>
                                      <input type="checkbox" [checked]="isAusKeySelected(auskeyRef.value.id)" (change)="onAusKeyChange(auskeyRef.value.id)"> {{auskeyRef.value.id}}
                                    </label>
                                  </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <search-result-pagination
                            [searchResult]="deviceAusKeyRefs$|async"
                            [delegate]="auskeyPaginationDelegate">
                    </search-result-pagination>
                </div>
            </div>
        </div>
    </div>

</form>

<div id="action-button-bar">
    <div class="pull-left">
        <a class="btn btn-default align-center" (click)="back()">← Back</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary align-center" (click)="save()">Save →</a>
    </div>
</div>