<page-header tab="MANAGE_NOTIFICATIONS"
             [messages]="globalMessages"></page-header>

<div class="centered">
    <p class="todo">List business relationships for authorisation administrator</p>
    <p class="todo">Allows putting a business into focus by navigating to the notifications component</p>
    <p class="todo"><a (click)="goToNotificationsPage('PUBLIC_IDENTIFIER%3AABN%3Ajenscatering_identity_1')">Hardcode: Navigate to Jen's Catering Pty Ltd</a></p>
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="col-md-2"><h4>Login Type</h4></th>
            <th class="col-md-3"><h4>Authorisation</h4></th>
            <th class="col-md-2"><h4>Status</h4></th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody *ngIf="!isLoading">
        <template ngFor let-item="$implicit" [ngForOf]="partyRefs">
            <tr class="relationship-subject-heading">
                <td colspan="5">
                    <div (click)="goToNotificationsContext(item)" class="clickable">
                        <h4>{{services.model.displayNameForParty(item.value)}}</h4>
                        <h5>{{services.model.abnLabelForParty(item.value)}} /
                            {{services.model.partyTypeLabelForParty(item.value)}}</h5>
                    </div>
                </td>
            </tr>
        </template>
    </tbody>
    <tbody *ngIf="isLoading">
        <tr>
            <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
        </tr>
    </tbody>
</table>

<search-result-pagination
        [searchResult]="parties$|async"
        [delegate]="paginationDelegate">
</search-result-pagination>
