<page-header [identity]="identity"
             tab="ADD_ROLE"
             [messages]="globalMessages"
             [giveAuthorisationsEnabled]="giveAuthorisationsEnabled"></page-header>

<form [formGroup]="form">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Select a role</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Role type*</h4>
                    <select class="form-control" [formControl]="form.controls['roleType']" #t (change)="onRoleTypeChange(t.value)">
                        <option value="-" disabled hidden>Please Choose...</option>
                        <option *ngFor="let roleTypeRef of roleTypeRefs" value={{roleTypeRef.value.code}}>{{roleTypeRef.value.shortDecodeText}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="form.controls['roleType'].value !== '-'">
        <div class="panel-heading">
            <h4>Online software provider agencies services</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Access to government agencies services</h4>
                    <div class="checkbox" *ngFor="let attributeUsage of agencyServiceRoleAttributeNameUsages">
                        <label>
                            <input type="checkbox"> {{attributeUsage.attributeNameDef.value.shortDecodeText}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>