<form [formGroup]=form>
    <div class="form-group">
        <div class="col-md-4"
        [class.has-error]="!form.controls['givenName'].valid">
            <h4>Given name*</h4>
            <input class="form-control" type="text" name="givenName" [formControl]="form.controls['givenName']"
                placeholder="Given name ...">
        </div>
        <div class="col-md-4"
        [class.has-error]="!form.controls['familyName'].valid">
            <h4>Family name</h4>
            <input class="form-control" type="text" name="familyName" [formControl]="form.controls['familyName']"
                placeholder="Family name ...">
        </div>
        <div class="col-md-4">
            <h4>Date of birth</h4>
            <p-calendar
                    placeholder="dd/mm/yyyy ..."
                    inputStyleClass="form-control"
                    [formControl]="form.controls['dob']"
                    dateFormat="{{dateFormat}}"
                    monthNavigator="true"
                    yearNavigator="true"
                    yearRange="-100:+0"
            ></p-calendar>
        </div>
    </div>
</form>