<page-header [identity]="identity"
             tab="MANAGE_NOTIFICATIONS"
             [messages]="globalMessages"></page-header>

<form [formGroup]="form">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Add notification</h4>
        </div>
        <div class="panel-body">
            <h4>Enter the ABN of the software provider:</h4>
            <div *ngIf="!delegateParty" class="form-group">
                <div class="col-md-12">
                    <h4>ABN*</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control col-md-4" [formControl]="form.controls['abn']"/>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-secondary align-center" (click)="findByABN()">Check</button>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>

            <div *ngIf="delegateParty && delegateIdentityRef">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>ABN:</h4>
                            {{delegateIdentityRef.value.rawIdValue}}
                        </div>
                        <div class="col-md-4">
                            <h4>Business name:</h4>
                            {{delegateIdentityRef.value.profile.name.unstructuredName}}
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-secondary align-center" (click)="resetDelegate()">Change ABN</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="delegateParty && delegateIdentityRef">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Notification Details</h4>
            </div>
            <div class="panel-body">

                <h4>Software Serial Number*</h4>
                <div class="row" *ngFor="let ssid of form.controls['ssids'].controls; let i = index">
                    <div class="col-md-4">
                        <input type="text" class="form-control" [formControl]="form.controls['ssids'].controls[i]"/>
                    </div>
                </div>
                <button class="btn btn-link align-center" (click)="addAnotherSSID()">+ Add another</button>
                <button *ngIf="form.controls['ssids'].controls.length > 1" class="btn btn-link align-center" (click)="removeSSID()">Remove</button>

                <div>
                    <access-period [(data)]='accessPeriod' (isValid)='accessPeriodIsValid=$event'>
                    </access-period>
                </div>

                <br style="clear: both"/>
                <hr/>

                <h4>Set the agencies to notify:</h4>
                <div class="checkbox" *ngFor="let attributeName of ospServices">
                    <label>
                        <input type="checkbox" (change)="onAgencyServiceChange(attributeName.code)"> {{attributeName.shortDecodeText}}
                    </label>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Declaration</h4>
            </div>
            <div class="panel-body">
                {{ declarationText }}
                <div class="form-group col-md-12">
                    <label><h4><input type="checkbox" [formControl]='form.controls["accepted"]'> I agree to this declaration</h4></label>
                </div>
            </div>
        </div>

    </div>
</form>

<br/>
<br/>

<div id="action-button-bar">
    <div class="pull-left">
        <a class="btn btn-default align-center" (click)="back()">← Back</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary align-center" (click)="save()">Save →</a>
    </div>
</div>