<page-header [identity]="identity"
             tab="MANAGE_NOTIFICATIONS"
             [messages]="globalMessages"></page-header>

<form [formGroup]="form">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Add notification</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Enter the ABN of the software provider*</h4>
                    <div class="todo">TODO</div>
                    <br/>
                </div>
            </div>
        </div>
    </div>

</form>

<div id="action-button-bar">
    <div class="pull-left">
        <a class="btn btn-default align-center" (click)="back()">← Back</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary align-center" (click)="save()">Save →</a>
    </div>
</div>