<form [formGroup]='form'>
    <ng2-markdown [markdown]="data.markdown"></ng2-markdown>

    <div class="form-group col-md-12">
        <label><h4><input type="checkbox" [formControl]='form.controls["accepted"]'> {{'addRelationship.declaration.agree' | translate}}</h4></label>
    </div>
    <button class="col-xs-6 col-sm-3 btn btn-default"
            (click)="back()">&#8592; {{'back' | translate}}
    </button>
    <button class=" col-xs-6 col-sm-3 col-sm-offset-6 btn btn-primary"
            [disabled]='!(form.controls["accepted"].valid && isAuthorizedBtnEnabled)'
            (click)="createRelationship()"
    >{{'addRelationship.authorise' | translate}} →
    </button>
</form>
