<form [formGroup]='form'>
    <div class="form-group col-md-4" [class.has-error]="!form.controls['startDate'].valid">
        <h4>Start date*</h4>
        <p-calendar
                placeholder="dd/mm/yyyy ..."
                inputStyleClass="form-control"
                [formControl]="form.controls['startDate']"
                dateFormat="{{dateFormat}}"></p-calendar>
    </div>
    <div class="form-group col-md-4"
         [class.has-error]="!form.controls['endDate'].valid || form.hasError('isEndDateBeforeStartDate')">
        <h4>End date</h4>
        <p-calendar
                placeholder="dd/mm/yyyy ..."
                inputStyleClass="form-control"
                [disabled]='form.controls["noEndDate"].value'
                [formControl]="form.controls['endDate']"
                dateFormat="{{dateFormat}}"></p-calendar>
    </div>
    <div class="form-group col-md-4">
        <h4>No end date</h4>
        <input [formControl]='form.controls["noEndDate"]' class="big-checkbox" type="checkbox" name="noEndDate" value="false">
    </div>
</form>
