<page-header [identity]="identity"
             tab="GIVE_AUTHORISATION"
             [messages]="globalMessages"
             [giveAuthorisationsEnabled]="giveAuthorisationsEnabled"></page-header>

<representative-details [(data)]='newRelationship.representativeDetails' (isValid)='representativeIsValid=$event'>
</representative-details>

<authorisation-type [(data)]='newRelationship.authType' [options]='relationshipTypeRefs' (isValid)='authTypeIsValid=$event'>
</authorisation-type>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">3</span> Set access period</h4>
    </div>
    <div class="panel-body">

        <access-period [(data)]='newRelationship.accessPeriod' (isValid)='accessPeriodIsValid=$event'>
        </access-period>

    </div>
</div>

<authorisation-management [(data)]='newRelationship.authorisationManagement' [attributeNameUsage]='manageAuthAttribute'></authorisation-management>

<!--authorisation-permissions (validationErrors)='authorisationPermissionErrors=$event'></authorisation-permissions-->

<relationship-declaration [(data)]='newRelationship.decalaration'
             (backEvent)="back()"
             (createRelationshipEvent)="submit()"
             (isValid)='declarationIsValid=$event'
             [isAuthorizedBtnEnabled]='accessPeriodIsValid && authTypeIsValid && representativeIsValid'></relationship-declaration>

<!--{{dumpObject(newRelationship)}}-->
