<page-header [identity]="identity"
             tab="MANAGE_ROLES"
             [messages]="globalMessages"
             [giveAuthorisationsEnabled]="giveAuthorisationsEnabled"></page-header>

<table class="table">
    <thead>
        <tr>
            <th><h4>Role</h4></th>
            <th class="col-md-6"><h4>Date Assigned</h4></th>
        </tr>
    </thead>
    <tbody *ngIf="!isLoading">
        <tr *ngFor="let roleRef of (roles$|async)?.list">
            <td>{{services.model.roleTypeLabel(roleTypeRefs, roleRef.value)}}</td>
            <td>{{services.model.displayDate(roleRef.value.assignedTimestamp)}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="isLoading">
        <tr>
            <td colspan="5" class="text-center"><h3>Loading ...</h3></td>
        </tr>
    </tbody>
</table>

<search-result-pagination
        [searchResult]="roles$|async"
        [delegate]="paginationDelegate">
</search-result-pagination>